XKOIN_DARAJA_CONSUMER_KEY=
XKOIN_DARAJA_CONSUMER_SECRET=
XKOIN_DARAJA_PASSKEY=
XKOIN_DARAJA_B2C_SHORTCODE=
XKOIN_DARAJA_INITIATOR_NAME=
XKOIN_DARAJA_SECURITY_CREDENTIAL=
XKOIN_JENGA_API_KEY=
XKOIN_JENGA_MERCHANT_CODE=
XKOIN_JENGA_CONSUMER_SECRET=
XKOIN_CALLBACK_BASE_URL=
XKOIN_ESCROW_ADDRESS=
XKOIN_TOKEN_ADDRESS=
XKOIN_BRIDGE_PRIVATE_KEY=
XKOIN_KIOSK_ROOT_KEY_HEX=
XKOIN_DRY_RUN=true
